<link rel="stylesheet" type="text/css" href="/styles/banner.css">
<link rel="stylesheet" type="text/css" href="/styles/button.css">
<link rel="stylesheet" type="text/css" href="/styles/text.css">

<div class="banner">
  <h1>New Budget</h1>
</div>
<br></br>

<div class="wrapper">
  <form method="post" action="/budgets">

    <label for="budget_name">New Budget Name:</label>
      <input id="budget-name" type="text" name="budget_name" />
    <br></br>
    <label for="budget_amount">New Budget Amount (£):</label>
      <input id="budget-amount" type="text" name="budget_amount" />
      <br></br>

    <label for="start_time">New Budget Start Time:</label>
      <input type="date" name="start_time" value="">
    <br></br>

    <label for="end_time">New Budget End Time:</label>
      <input type="date" name="end_time" value="">


    <br></br>

    <input type='submit' value="Add New Budget" class="buttons"/>
  </form>
</div>
