<h1>New Budget</h1>

<form method="post" action="/budgets">

  <label for="budget_name">New Budget Name:</label>
    <input id="budget-name" type="text" name="budget_name" />
  <label for="budget_amount">New Budget Amount:</label>
    <input id="budget-amount" type="text" name="budget_amount" />
  <label for="start_time">Start Time:</label>
    <input id="start-time" type="text" name="start_time" />
  <label for="end_time">New Budget Amount:</label>
    <input id="end-time" type="text" name="end_time" />

  <input type='submit' value="Add New Budget"/>
</form>
