<p>Budget Name: <%=@budget.budget_name%></p>


<form class="" action="/budgets/<%= @budget.id %>/delete" method="post">
  <input type="submit" value="DELETE BUDGET">
</form>

<a href="/budgets/<%= @budget.id %>/edit">Edit Budget</a>
