<div class="wrapper">

  <div class="name_text">
    <p><b>Budget Name:</b> <%=@budget.budget_name%></p>
  </div>


  <div info_text>
    <form class="" action="/budgets/<%= @budget.id %>/delete" method="post">
      <input class="buttons"type="submit" value="Delete Budget">
    </form>
    <br></br>


    <div class="buttons">
      <a href="/budgets/<%= @budget.id %>/edit">Edit Budget</a>
    </div>
  </div>

</div>
