<div class="banner">
  <h1>Budget: <%=@budget.budget_name%></h1>
</div>
<br></br>

<div class="wrapper">

  <div info_text>
    <form class="" action="/budgets/<%= @budget.id %>/delete" method="post">
      <input class="buttons"type="submit" value="Delete Budget">
    </form>
    <br></br>


    <div class="buttons">
      <a href="/budgets/<%= @budget.id %>/edit">Edit Budget</a>
    </div>
  </div>

</div>
