<p>Budget Name: <%=@budget.budget_name%></p>


<form class="" action="/budgets/<%= @budget.id %>/delete" method="post">
  <input type="submit" value="DELETE BUDGET">
</form>

<form class="" action="/budgets/<%= @budget.id %>/edit" method="post">
  <input type="submit" value="EDIT BUDGET">
</form>
