* {
  font-family: "Josefin Sans", sans-serif;
  color: #053E45;
  text-decoration: none;
}

.banner{
      background-color: #10D0E5;;
      height: 100px;
      width: 100%;
    }

.banner h1{
      position: relative;
      text-align: center;
      top: 35px;
      width: 800px;
      height: 50px;
      margin: 0 auto;
      color: White;
      font-weight: bold;
    }

    /* A2F9F3 */
    /* #10D0E5; */
