<h1>My Merchants</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% for merchant in @merchants %>
  <tr>
    <td><a href="/merchants/<%= merchant.id %>"><%= merchant.merchant_name %></a></td>
    <td>|</td>
  </tr>
  <% end %>
</table>
