<link rel="stylesheet" type="text/css" href="/styles/banner.css">
<link rel="stylesheet" type="text/css" href="/styles/button.css">
<link rel="stylesheet" type="text/css" href="/styles/text.css">
<link rel="stylesheet" type="text/css" href="/styles/table.css">

<div class="banner">
  <h1>My Merchants</h1>
</div>
<br></br>

<div class="wrapper">
  <table class="table" align="center">
    <tr>
      <th>Name</th>
    </tr>
    <% for merchant in @merchants %>
    <tr>
      <td><a href="/merchants/<%= merchant.id %>"><%= merchant.merchant_name %></a></td>
    </tr>
    <% end %>
  </table>
</div>
<br></br>

<div class="wrapper">
  <div class="buttons">
    <a href="/merchants/new">New Merchant</a>
  </div>
</div>


<div class="info_text">
  <p>Click on any mechant to delete the merchant</p>
</div>
