<h1>New Merchant</h1>

<form action="/merchants" method="post">
  <label>
  New Merchant Name
    <input type="text" merchant_name="merchant_name" id="first_name"/>
  </label>

  <!-- <label>
    Select a victim:
    <select name="victim_id">
      <% for victim in @victims %>
      <option value="<%= victim.id %>"><%= victim.name %></option>
      <% end %>
    </select>
  </label> -->

  <!-- <input class="btn btn--action" type='submit' value="Bite!"> -->
</form>
