<link rel="stylesheet" type="text/css" href="/styles/banner.css">
<link rel="stylesheet" type="text/css" href="/styles/button.css">
<link rel="stylesheet" type="text/css" href="/styles/text.css">

<div class=banner>
  <h1>New Merchant</h1>
</div>
<br></br>

<form method="post" action="/merchants">

  <label for="merchant_name">New Merchant Name:</label>
    <input id="merchant-name" type="text" name="merchant_name" />

    <input type='submit' value="Add New Merchant" class="buttons"/>

</form>
