<div class="wrapper">

  <div class="name_text">
    <p><b>Merchant Name:</b> <%= @merchant.merchant_name %></p>
  </div>

  <div class="warning_text">
  <p>Are you sure you want to delete this merchant?</p>
  </div>

    <form class="" action="/merchants/<%= @merchant.id %>/delete" method="post">
        <input class="buttons" type="submit" value="Delete">
    </form>

</div>
