<div class="wrapper">

  <div class="banner">
    <h1>Merchant Name: <%= @merchant.merchant_name %></h1>
  </div>

  <div class="warning_text">
  <p>Are you sure you want to delete this merchant?</p>
  </div>

    <form class="" action="/merchants/<%= @merchant.id %>/delete" method="post">
        <input class="buttons" type="submit" value="Delete">
    </form>

</div>
