<div class="wrapper">

  <div class="banner">
    <h1>Tag Name: <%= @tag.tag_name %></h1>
  </div>

  <div class="warning_text">
  <p>Are you sure you want to delete this tag?</p>
  </div>

    <form class="" action="/tags/<%= @tag.id %>/delete" method="post">
        <input class="buttons" type="submit" value="Delete">
    </form>

</div>
