<div class="wrapper">

  <div class="name_text">
    <p><b>Tag Name:</b> <%= @tag.tag_name %></p>
  </div>

  <div class="warning_text">
  <p>Are you sure you want to delete this tag?</p>
  </div>

    <form class="" action="/tags/<%= @tag.id %>/delete" method="post">
        <input class="buttons" type="submit" value="Delete">
    </form>

</div>
