<!DOCTYPE html>
<html>
 <link rel="stylesheet" type="text/css" href="/styles/banner.css">
  <link rel="stylesheet" type="text/css" href="/styles/text.css">
    <link rel="stylesheet" type="text/css" href="/styles/button.css">

<div class="banner">
  <h1>Welcome to Budgee!</h1>
</div>
<br></br>

<div class="info_text">
<h4>Budgee is a spending and budgeting app that is uniquely different from all other existing budget apps,  and more better  because reasons!<h4>
  </div>
</html>
