<!DOCTYPE html>
<html>
 <link rel="stylesheet" type="text/css" href="/styles/banner.css">
  <link rel="stylesheet" type="text/css" href="/styles/text.css">
  <link rel="stylesheet" type="text/css" href="/styles/button.css">
  <link rel="stylesheet" type="text/css" href="/styles/background_image.css">

<div class="banner">
  <h1>Welcome to Budgee!</h1>
</div>

<div class="info_text">
<!-- <h4>Budgee is a spending and budgeting app that is uniquely different from all other existing budget apps,  and more better  because reasons!<h4> -->
  <img src="/images/budgies_2_and_text.png" alt="Budgies">
  </div>

<!-- <img src="/images/budgies.png" alt="Budgies"> -->

</html>
