<!DOCTYPE html>
<html>
 <link rel="stylesheet" type="text/css" href="/styles/banner.css">

<div class="banner">
  <h1>Budgee</h1>
</div>
<br></br>

<p>Welcome to Budgee!</p>
<p>Budgee is a spending app that is uniquely different from all other existing budget apps,  and more better  because reasons!<p>
</html>
