<!DOCTYPE html>
<html>
<head>
  <title>Budgee</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">

  <link rel="icon" href="/images/teal_budgie_left.png" />

  <link rel="stylesheet" type="text/css" href="/styles/banner.css">
  <link rel="stylesheet" type="text/css" href="/styles/button.css">
</head>


<body>
<main class="flex flex--row">

  <nav>
    <button class="buttons" type="button">
            <a href="/merchants">My Merchants</a>
    </button>
    <button class="buttons" type="button">
            <a href="/tags">My Tags</a>
    </button>
    <button class="buttons" type="button">
            <a href="/transactions">My Transactions</a>
    </button>
    <button class="buttons" type="button">
            <a href="/budgets">My Budgets</a>
    </button>
    <button class="buttons" type="button">
            <a href="/budget_transactions">My Budget_Transactions</a>
    </button>
  </nav>
  <br></br>

  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
