<h1>New Transaction</h1>

<form method="post" action="/transactions">

  <label for="transaction_name">New Transaction Amount:</label>
    <input id="transaction-amount" type="text" name="transaction_amount" />

  <label for="merchant_id">New Transaction Merchant Id:</label>
    <input id="merchant_id" type="text" name="merchant_id" />

  <label for="tag_id">New Transaction Tag Id:</label>
    <input id="tag_id" type="text" name="tag_id" />

  <label for="tag_id">New Transaction Essential? :</label>
    <input id="essential" type="text" name="essential" />

  <input type='submit' value="Add New Transaction"/>
</form>
