<div class="banner">
  <h1>Transaction: £<%=@transaction.transaction_amount.to_i%></h1>
</div>
<br></br>

<div class="wrapper">

  <div info_text>
    <form class="" action="/transactions/<%= @transaction.id %>/delete" method="post">
      <input type="submit" value="Delete Transaction" class="buttons">
    </form>
    <br></br>

    <div class="buttons">
      <a href="/transactions/<%= @transaction.id %>/edit">Edit Transaction</a>
    </div>
  </div>

</div>

</div>
